body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, p, span {
  margin: 0;
  padding: 0;
}

.custom-page-wrapper .title {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 6px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .title {
    font-size: 1.7777777778vw;
    line-height: 2.2222222222vw;
    margin-bottom: 0.4444444444vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .title {
    font-size: 5.3125vw;
    line-height: 6.25vw;
    margin-bottom: 2.8125vw;
  }
}
.custom-page-wrapper .paragraph {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .paragraph {
    font-size: 1.1111111111vw;
    line-height: 1.5555555556vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .paragraph {
    font-size: 3.75vw;
    line-height: 5vw;
  }
}
.custom-page-wrapper .button {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0074b8;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 40px;
  border-radius: 40px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .button {
    font-size: 1.1111111111vw;
    line-height: 2.6666666667vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .button {
    font-size: 3.75vw;
    line-height: 10vw;
  }
}
.custom-page-wrapper .button:hover {
  background: rgb(5, 49, 106);
}
.custom-page-wrapper .main-color {
  color: #0074b8;
}
.custom-page-wrapper .italic {
  font-style: italic;
}
.custom-page-wrapper .hero-section {
  background: url(https://project.clcdatahub.com/cochran/service/vw/img/vw-service-hero-image-desktop.jpg);
  background-size: cover;
  width: 100%;
  height: 35vw;
  padding: 50px 24px 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .hero-section {
    height: 37.3333333333vw;
    padding: 2.7777777778vw 1.3333333333vw 0 1.3333333333vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .hero-section {
    height: 67.5vw;
    padding: 5vw 5vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://project.clcdatahub.com/cochran/service/vw/img/vw-service-hero-image-desktop-2x.jpg);
    background-size: cover;
    background-position: center;
  }
}
.custom-page-wrapper .hero-section__title {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 56px;
  line-height: 100%;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .hero-section__title {
    font-size: 3.1111111111vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .hero-section__title {
    font-size: 6.875vw;
    margin-left: -0.5vw;
  }
}
.custom-page-wrapper .hero-section__hours {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 14px;
  line-height: 100%;
  width: 100%;
  display: inline-block;
  margin: 10px 0 28px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .hero-section__hours {
    font-size: 0.8888888889vw;
    margin: 0.5555555556vw 0 1.5555555556vw 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .hero-section__hours {
    font-size: 2.5vw;
    letter-spacing: -0.01em;
    margin: 1.5625vw 0 0 0;
  }
}
.custom-page-wrapper .hero-section__button {
  width: 240px;
  display: block;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .hero-section__button {
    width: 17.7777777778vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .hero-section__button {
    display: none;
  }
}
.custom-page-wrapper .hero-section__caption {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: auto 0 28px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .hero-section__caption {
    font-size: 0.8888888889vw;
    line-height: 1.1111111111vw;
    margin: auto 0 1.5555555556vw 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .hero-section__caption {
    display: none;
  }
}
.custom-page-wrapper .buttons-list {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 1800px) {
  .custom-page-wrapper .buttons-list {
    padding: 0.8888888889vw 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .buttons-list {
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
  }
}
.custom-page-wrapper .buttons-list__item {
  display: block;
  width: 25%;
  height: 208px;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .buttons-list__item {
    height: 11.5555555556vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .buttons-list__item {
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .custom-page-wrapper .buttons-list__item:nth-child(3) img {
    margin-right: 2.8125vw;
  }
  .custom-page-wrapper .buttons-list__item:nth-child(4) img {
    margin-right: 2.8125vw;
  }
}
.custom-page-wrapper .buttons-list__item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 960px) {
  .custom-page-wrapper .buttons-list__item:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.custom-page-wrapper .buttons-list__item:hover {
  color: #0074b8;
}
.custom-page-wrapper .buttons-list__item:hover .buttons-list__caption {
  color: #0074b8;
}
.custom-page-wrapper .buttons-list__icon {
  margin: 20px 0 30px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .buttons-list__icon {
    margin: 1.1111111111vw 0 1.6666666667vw 0;
    height: 5.7777777778vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .buttons-list__icon {
    margin: 3.75vw;
    height: 12.5vw;
  }
}
.custom-page-wrapper .buttons-list__caption {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-transform: uppercase;
  color: #192224;
  font-size: 20px;
  line-height: 100%;
  display: block;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .buttons-list__caption {
    font-size: 1.1111111111vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .buttons-list__caption {
    font-size: 3.75vw;
    letter-spacing: -0.02em;
  }
}
.custom-page-wrapper .about-section {
  display: flex;
  margin-top: 128px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .about-section {
    margin-top: 7.1111111111vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .about-section {
    margin-top: 20vw;
    width: 90vw;
    margin: 20vw auto 0 auto;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10vw;
  }
}
.custom-page-wrapper .about-section-image {
  width: 50%;
  height: auto;
}
@media (max-width: 960px) {
  .custom-page-wrapper .about-section-image {
    width: 100%;
  }
}
.custom-page-wrapper .about-section-image img {
  width: 100%;
  display: block;
}
.custom-page-wrapper .about-section-copy {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 960px) {
  .custom-page-wrapper .about-section-copy {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5vw;
  }
}
.custom-page-wrapper .about-section-copy__title {
  color: #192224;
  text-transform: uppercase;
  width: 80%;
}
@media (max-width: 960px) {
  .custom-page-wrapper .about-section-copy__title {
    width: 100%;
  }
}
.custom-page-wrapper .about-section-copy__paragraph {
  color: #192224;
  width: 80%;
}
@media (max-width: 960px) {
  .custom-page-wrapper .about-section-copy__paragraph {
    width: 100%;
  }
}
.custom-page-wrapper .about-section-copy__button {
  width: 240px;
  margin-top: 17px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .about-section-copy__button {
    width: 13.3333333333vw;
    margin-top: 0.9444444444vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .about-section-copy__button {
    width: 50vw;
    margin-top: 4.375vw;
  }
}
.custom-page-wrapper .multipoint-section {
  margin: 143px 0 0 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section {
    margin: 7.9444444444vw 0 0 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section {
    margin: 8.4375vw 0 0 0;
  }
}
.custom-page-wrapper .multipoint-section__title {
  text-transform: uppercase;
  color: #192224;
  width: calc(50% - 24px);
  margin-left: 24px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section__title {
    width: calc(50% - 1.3333333333vw);
    margin-left: 1.3333333333vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section__title {
    width: 90%;
    margin-left: 5vw;
  }
}
.custom-page-wrapper .multipoint-section__paragraph {
  width: calc(50% - 24px);
  margin-left: 24px;
  color: #192224;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section__paragraph {
    width: calc(50% - 1.3333333333vw);
    margin-left: 1.3333333333vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section__paragraph {
    width: 90%;
    margin-left: 5vw;
  }
}
.custom-page-wrapper .multipoint-section-list {
  display: flex;
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section-list {
    margin-top: 1.3888888889vw;
    padding: 0.8888888889vw 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section-list {
    overflow-x: auto;
    flex-wrap: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 2.5vw 0 2.5vw 0;
    margin-top: 8.75vw;
  }
  .custom-page-wrapper .multipoint-section-list::-webkit-scrollbar {
    display: none;
  }
}
.custom-page-wrapper .multipoint-section-list__item {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  padding: 52px 0 22px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section-list__item {
    padding: 2.8888888889vw 0 1.2222222222vw 0;
  }
}
.custom-page-wrapper .multipoint-section-list__item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section-list__item {
    width: 27.5vw;
    padding: 3.75vw 0 3.4375vw 0;
    flex: 0 0 auto;
  }
}
.custom-page-wrapper .multipoint-section-list__image {
  height: 124px;
  width: auto;
}
@media (min-width: 1800px) {
  .custom-page-wrapper .multipoint-section-list__image {
    height: 6.8888888889vw;
  }
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section-list__image {
    height: 6.8888888889vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section-list__image {
    height: 15vw;
  }
}
.custom-page-wrapper .multipoint-section-list__caption {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  color: #192224;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  display: block;
  margin-top: 66px;
  width: 100%;
}
@media (min-width: 1800px) {
  .custom-page-wrapper .multipoint-section-list__caption {
    font-size: 20px;
    margin-top: 1.7777777778vw;
  }
}
@media (max-width: 1800px) {
  .custom-page-wrapper .multipoint-section-list__caption {
    font-size: 1.1111111111vw;
    line-height: 1.3333333333vw;
    margin-top: 2.6666666667vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .multipoint-section-list__caption {
    font-size: 2.5vw;
    line-height: 3.75vw;
    margin-top: 3.75vw;
  }
}
.custom-page-wrapper .services-list {
  margin: 224px 0 0 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .services-list {
    margin: 10.6666666667vw 0 0 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list {
    margin: 20vw 0 0 0;
  }
}
.custom-page-wrapper .services-list__item {
  display: flex;
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list__item {
    flex-direction: column;
  }
  .custom-page-wrapper .services-list__item:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.custom-page-wrapper .services-list__image {
  width: 50%;
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list__image {
    width: 100%;
  }
}
.custom-page-wrapper .services-list__image img {
  width: 100%;
  display: block;
}
.custom-page-wrapper .services-list__content {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list__content {
    width: 90vw;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 7.8125vw 5vw 10vw 5vw;
  }
}
.custom-page-wrapper .services-list__title {
  width: 80%;
  text-transform: uppercase;
  color: #192224;
  text-align: center;
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list__title {
    width: 100%;
    text-align: left;
  }
}
.custom-page-wrapper .services-list__paragraph {
  color: #192224;
  width: 80%;
  text-align: center;
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list__paragraph {
    width: 100%;
    text-align: left;
  }
}
.custom-page-wrapper .services-list__button {
  width: 240px;
  margin-top: 17px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .services-list__button {
    width: 13.3333333333vw;
    margin-top: 0.9444444444vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .services-list__button {
    width: 50vw;
    margin-top: 4.375vw;
  }
}
.custom-page-wrapper .benefits-section {
  margin: 185px 0 192px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section {
    margin: 10.2777777778vw 0 10.6666666667vw 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 7.8125vw;
    margin: 0 auto 20vw auto;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90vw;
  }
}
.custom-page-wrapper .benefits-section__title {
  width: 50%;
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 48px;
  line-height: 100%;
  color: #192224;
  text-transform: uppercase;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section__title {
    font-size: 2.6666666667vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section__title {
    width: 100%;
    font-size: 5.3125vw;
    line-height: 7.5vw;
  }
}
.custom-page-wrapper .benefits-section__paragraph {
  width: 50%;
  margin-top: 14px;
  color: #192224;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section__paragraph {
    margin-top: 0.7777777778vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section__paragraph {
    width: 100%;
    margin-top: 2.1875vw;
  }
}
.custom-page-wrapper .benefits-section__button {
  width: 240px;
  margin-top: 17px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section__button {
    width: 13.3333333333vw;
    margin-top: 0.9444444444vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section__button {
    width: 50vw;
    margin-top: 4.375vw;
  }
}
.custom-page-wrapper .benefits-section__image {
  margin-top: 56px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section__image {
    margin-top: 3.1111111111vw;
    height: 17.7777777778vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section__image {
    width: 90vw;
    height: auto;
    margin-top: 10vw;
  }
}
.custom-page-wrapper .benefits-section-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 128px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section-list {
    margin-top: 7.1111111111vw;
    padding: 0.8888888889vw 0;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section-list {
    margin-top: 17.5vw;
    padding: 0;
    border: none;
  }
}
.custom-page-wrapper .benefits-section-list__item {
  width: calc(25% - 1px);
  padding: 25px 0 34px 0;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section-list__item {
    padding: 1.7777777778vw 0 2.2222222222vw 0;
  }
}
.custom-page-wrapper .benefits-section-list__item:not(:nth-child(5), :nth-child(6), :nth-child(7), :nth-child(8)) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.custom-page-wrapper .benefits-section-list__item:not(:nth-child(4), :nth-child(8)) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section-list__item {
    width: 100%;
    border: none !important;
    text-align: center;
    background: rgba(0, 0, 0, 0.06);
    margin-bottom: 2.5vw;
    padding: 10vw 7.5vw 9.0625vw 7.5vw;
  }
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section-list__image {
    height: 5.3333333333vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section-list__image {
    height: 22.5vw;
    mix-blend-mode: multiply;
  }
}
.custom-page-wrapper .benefits-section-list__caption {
  font-family: "vwheadweb", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #192224;
  display: block;
  margin-top: 25px;
}
@media (max-width: 1800px) {
  .custom-page-wrapper .benefits-section-list__caption {
    font-size: 1vw;
    line-height: 1.3333333333vw;
    display: block;
    margin-top: 1.3888888889vw;
  }
}
@media (max-width: 960px) {
  .custom-page-wrapper .benefits-section-list__caption {
    font-size: 3.75vw;
    line-height: 5vw;
    margin-top: 3.4375vw;
  }
}/*# sourceMappingURL=style.css.map */